// Paths of the dependencies
@bs-path: "../node_modules/bootstrap";
@oui-path: "../node_modules/ovh-ui-kit";

// Bootstrap fonts
@icon-font-path: "../docs/fonts/";

// OVH UI icons & fonts
@oui-icon-dist-folder: "../docs/icons";
@oui-font-source-sans-pro-folder: "../docs/fonts/source-sans-pro";
