@oui-path: "../node_modules/ovh-ui-kit/packages";
@oui-dist: "../node_modules/ovh-ui-kit/dist";

@oui-icon-dist-folder: "./icons";
@oui-font-source-sans-pro-folder: "./fonts/source-sans-pro";

@icon-font-path: "./fonts/";
